@import url('/stylesheets/material-icons.css');

/* TODO: REMOVE REDUNDANT CODE */


/* CSS Variables */

:root {
    --primary-color: #02B4E5;
    --secondary-color: #02F2E6;
    --default-margin: 16px 32px;
    --text-color: white;
    --secondary-text-color: #777;
    --background-primary: rgb(18, 18, 18);
    --background-secondary: rgb(24, 24, 24);
    --background-dark: rgb(33, 33, 33);
}

@font-face {
    font-family: 'Halcyon';
    src: url('../assets/fonts/Gotham-Font/GothamBook.ttf');
}

@font-face {
    font-family: 'Halcyon-header';
    src: url('../assets/fonts/Gotham-Font/GothamLight.ttf');
}

@font-face {
    font-family: 'Halcyon-apply';
    src: url('../assets/fonts/Gotham-Font/GothamMedium.ttf');
}


/* Common asset classes */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.reset-gutter {
    padding: 0;
    margin: 0;
}

.emphasize {
    color: var(--primary-color);
}

body {
    margin: 0 auto !important;
    width: 1200px;
    background-color: var(--background-primary);
    color: var(--text-color);
    font-family: 'Halcyon';
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: 0 0 20px;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}


/* make scrollbar transparent */

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* NAVIGATION */

.navigation {
    background-color: var(--background-secondary);
    padding: 24px;
    height: 100vh;
    width: 300px;
    position: fixed;
}

.main-header {
    font-family: 'Halcyon-header';
    width: 250px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
}

.main-header:hover {
    cursor: pointer;
}

.wowprogress-bg {
    width: 40px;
    height: 40px;
    background-color: black;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
}

.wowprogress-bg:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
}

.wowprogress {
    font-weight: bolder;
    font-size: 16px;
    line-height: 40px;
    color: white;
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block;
}

.github-link {
    position: fixed;
    bottom: 24px;
}

.open-new-icon {
    margin-left: 5px;
}


/* MAIN-CONTENT */

.main-content {
    padding: var(--default-margin);
    background-color: var(--background-dark);
    width: 100%;
    margin-left: 300px;
    min-height: 100vh;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

.video-header {
    width: 100%;
    height: 55px;
    background-color: var(--background-secondary);
}

.video-header h2 {
    width: 100%;
    text-align: start;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 32px;
}

.video-container {
    border: 10px solid var(--background-secondary);
    border-top: 0;
}

code,
pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color: #333;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    font-weight: 600;
    padding: 5px 10px;
    border-bottom: 1px solid #606060;
}

td:nth-child(1) {
    text-align: center;
}

dt {
    color: #444;
    font-weight: 500;
}

th {
    color: var(--text-color);
}

img {
    max-width: 100%;
}

img.icon {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    transition: 0.2s
}

img.icon:hover {
    opacity: 1.0;
    transform: scale(1.2);
}

.button {
    list-style: none;
    height: 45px;
    padding: 0;
    background: linear-gradient(145deg, #016480 0, var(--primary-color), #02F2E6 100%);
    border-radius: 2px;
    border: none;
    width: 100%;
    transition: 0.5s;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(325deg, #016480 0, var(--primary-color), #02F2E6 100%);
}

.button .apply {
    font-family: 'Halcyon';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.apply:hover {
    color: white;
}

ul.icons {
    list-style: none;
    padding: 0;
    justify-content: space-around;
    margin: 32px 0;
}

ul.legend {
    list-style: none;
    padding: 0;
    margin: 32px 0;
}

ul.legend li {
    padding-bottom: 32px;
}

p.space {
    padding-top: 10px;
}

strong {
    color: var(--text-color);
    font-weight: 600;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: var(--text-color);
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media print,
screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }
    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }
    header {
        padding-right: 320px;
    }
    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }
    header a small {
        display: inline;
    }
    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }
    header {
        padding: 0;
    }
    header ul,
    header p.view {
        position: static;
    }
    pre,
    code {
        word-wrap: normal;
    }
}

@media print,
screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
    header ul {
        width: 99%;
    }
    header li,
    header ul li+li+li {
        width: 33%;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}

.rank-legendary {
    color: #FF8000;
}

.rank-epic {
    color: #A335EE;
}

.rank-rare {
    color: #0070DD;
}

.rank-uncommon {
    color: #1EFF00;
}